.group-editor-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.group-editor-label-sync input {
    width: auto;
}
.group-editor-label-sync {
    white-space: nowrap;
}
.group-editor-label label {
    margin-bottom: 0;
}

.secondary-label {
    color: var(--light-grey);
}
