.number-input-wrapper {
    position: relative;
}

.number-input-save {
    opacity: 0;
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    padding: 3px;
}
.number-input-save button {
    background: var(--black);
    height: 100%;
    padding: 2px 8px;
}
input:focus + .number-input-save {
    opacity: 1;
}

.range {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    display: block;
    padding: 0;
    height: var(--thumb-size);
}
@media (pointer: coarse) {
    .range {
        height: var(--thumb-size-mobile);
    }
}

.range::-webkit-slider-runnable-track {
    background: var(--grey);
    height: 3px;
}

.range::-moz-range-track {
    background: var(--grey);
    height: 3px;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: calc(-0.5 * var(--thumb-size)); /* Centers thumb on the track */
    background-color: var(--purple);
    height: var(--thumb-size);
    width: var(--thumb-size);
    border-radius: var(--thumb-size);
}

@media (pointer: coarse) {
    .range::-webkit-slider-thumb {
        margin-top: calc(-0.5 * var(--thumb-size-mobile));
        height: var(--thumb-size-mobile);
        width: var(--thumb-size-mobile);
        border-radius: var(--thumb-size-mobile);
    }
}

/***** Thumb Styles *****/
/***** Firefox *****/
.range::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/
    background-color: var(--purple);
    height: var(--thumb-size);
    width: var(--thumb-size);
    border-radius: var(--thumb-size);
}

/***** Focus Styles *****/
/* Removes default focus */
.range:focus,
.range:active {
    outline: none;
    background: none;
}

/***** Chrome, Safari, Edge *****/
.range::-webkit-slider-thumb:hover,
.range:focus::-webkit-slider-thumb,
.range:active::-webkit-slider-thumb {
    border: 2px solid #fff;
    outline-offset: 3px;
}

/******** Firefox ********/
.range::-moz-range-thumb:hover,
.range:focus::-moz-range-thumb,
.range:active::-moz-range-thumb {
    border: 2px solid #fff;
    outline-offset: 3px;
}

.range-input-label {
    height: 12px;
    position: relative;
    /** This needs to be 1/2 the width of the range input thumb */
    padding: 0 7px;
    color: #8e99cd;
}

.current-wrapper {
    position: relative;
    height: 100%;
}

.range-input-label span {
    position: absolute;
    bottom: 2px;
}

.range-input-label .current {
    transform: translateX(-50%);
}

.range-input-label .min {
    position: absolute;
    left: 0;
}

.range-input-label .max {
    position: absolute;
    right: 0;
}
